// if hexo-config('css_prefix')
@import 'nib'
@import url('https://cdn.jsdmirror.com/npm/jetbrains-mono@1.0.6/css/jetbrains-mono.min.css')
@import url('https://cdn.jsdmirror.com/gh/weston-brown/font@main/GuanKiapTsingKhai/result.css')
@import '_third-party/normalize.min.css'
@import './font.css'
// project
@import 'var'
@import '_global/*'
@import '_highlight/highlight'
@import '_page/*'
@import '_layout/*'
@import '_tags/*'
@import '_mode/*'

// search
@import '_search/index'